<%# add navigation links to this file %>
<li><%= link_to 'About', page_path('about') %></li> 
<li><%= link_to 'Contact', new_contact_path %></li>
<li><%= link_to 'Pricing', page_path('pricing') %></li>
<li><%= link_to 'FAQ', page_path('faq') %></li>
<li><%= link_to 'Privacy Policy', page_path('terms-conditions') %></li>
<li><%= link_to 'Admissions Consulting', page_path('law_school_admissions') %></li>